<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <style>
        @font-face {
            font-family: 'Poppins-Regular';
            src: url("{% static 'fonts/Poppins-Regular.ttf' %}");
        }
        @font-face {
            font-family: 'Poppins-Medium';
            src: url("{% static 'fonts/Poppins-Medium.ttf' %}");
        }
        body{
            font-family: "Poppins-Medium";
            font-size:95%;
            background:#EEF5FF;
        }
        .poppins-regular{
            font-family: 'Poppins-Medium';
        }

    </style>
    {% block style %}{% endblock %}
</head>
<body>
    {% block main %}
    
    {% endblock %}
    <script src="{% static 'script/bootstrap.bundle.min.js' %}">

    </script>
</body>
</html>